// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  $rows: 8;
  $columns: 12;

  $width: 960px;
  $cell: $width / $columns;

  $verticalSpace: 40px;

  $fontSize: 24px;
  $lineHeight: 1.25;
  $textSize: $fontSize * $lineHeight;

  $borderWidth: 0;

  $backgroundColor: rgba(0, 0, 255, 0.061803399);
  $compositionColor: rgba(255, 255, 255, 1);

  $radius: 4px;

  background-color: $backgroundColor;

  .composition {

    margin: $verticalSpace auto;
    width: $width;

    border-radius: $radius;
    border: 1px solid black;

    overflow: hidden;

    background-color: $compositionColor;

    .row {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;
      .letter {
        visibility: hidden;
        margin: 0;
        padding: ($cell - $textSize - 2 * $borderWidth) / 2;
        background-color: $compositionColor;
        width: $textSize;
        height: $textSize;
        min-width: $textSize;
        min-height: $textSize;
        text-align: center;
        float: left;
        font-size: $fontSize;
        line-height: $lineHeight;
        font-family: "Open Sans";
      }
    }

  }

}