// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.composition {

  $rows: 8;
  $columns: 12;

  $width: 960px;
  $cell: $width / $columns;

  $verticalSpace: 61.8px;

  $fontSize: 24px;
  $lineHeight: 1.25;
  $textSize: $fontSize * $lineHeight;

  margin: $verticalSpace auto;
  width: $width;

  .row {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    .letter {
      margin: 0;
      padding: ($cell - $textSize) / 2;
      width: $textSize;
      height: $textSize;
      min-width: $textSize;
      min-height: $textSize;
      text-align: center;
      float: left;
//      outline: 1px dotted #ccc;
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }

}